<!-- -->
<launch>
  <arg name="robot_name"    default="pioneer_0"/>
    
  <!-- Navigation -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find swarmus_ros_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true"/>

    <rosparam file="$(find swarmus_ros_navigation)/config/global_costmap_params.yaml" command="load" subst_value="true"/>
    
    <rosparam file="$(find swarmus_ros_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true"/>     
    
    <rosparam file="$(find swarmus_ros_navigation)/config/local_costmap_params.yaml" command="load" subst_value="true"/>
    
    <rosparam file="$(find swarmus_ros_navigation)/config/base_local_planner_params.yaml" command="load" subst_value="true"/>

    <rosparam file="$(find swarmus_ros_navigation)/config/base_global_planner_params.yaml" command="load" subst_value="true"/>
  
  </node>
</launch>
