<!-- -->
<launch>
  <arg name="robot_name"    default="pioneer_0"/>
  <arg name="cmd_vel_topic" default="cmd_vel"/>
  <arg name="odom_topic"    default="odom"/>
    
  <!-- Navigation -->
  <group>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

      <rosparam file="$(find swarmus_ros_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <!--TODO: Add the laser scan frame as a param-->

      <rosparam file="$(find swarmus_ros_navigation)/config/global_costmap_params.yaml" command="load" />
      <param name="global_costmap/global_frame" value="$(arg robot_name)/odom"/>
      <param name="global_costmap/robot_base_frame" value="$(arg robot_name)/base_footprint"/>
      
      <rosparam file="$(find swarmus_ros_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />     
      <param name="local_costmap/global_frame" value="$(arg robot_name)/odom"/>
      <param name="local_costmap/robot_base_frame" value="$(arg robot_name)/base_footprint"/>
      
      <rosparam file="$(find swarmus_ros_navigation)/config/local_costmap_params.yaml" command="load" />
      
      <rosparam file="$(find swarmus_ros_navigation)/config/base_local_planner_params.yaml" command="load" />

      <rosparam file="$(find swarmus_ros_navigation)/config/base_global_planner_params.yaml" command="load" />
      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    
    </node>
  </group>
</launch>
