<?xml version="1.0" ?>
<launch>
    <arg name="robot_name" default="pioneer_0"/>
    
    <!--Launch RTAB-Map-->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
        <param name="frame_id" type="string" value="$(arg robot_name)/base_link"/>
        <param name="odom_frame_id" type="string" value="$(arg robot_name)/odom"/>

        <param name="publish_tf" type="bool" value="true"/>
        <param name="tf_prefix" type="string" value="$(arg robot_name)/"/>

        <param name="subscribe_depth" type="bool" value="true"/>
        <param name="subscribe_scan" type="bool" value="true"/>
    </node>
</launch>