<?xml version="1.0" ?>
<launch>

    <!-- Roboclaw -->
    <node pkg="roboclaw" type="roboclaw_node" name="roboclaw_node">
        <!-- TODO: set roboclaw config -->
        <param name="~serial_port"  value="/dev/ttyS0"/>
        <param name="~baudrate"     value="115200"/>
        <param name="~roboclaws"    value="1"/>
    </node>

    <!-- IMU (mpu6050) -->
    <node pkg="ros_mpu6050_node" type="mpu6050_node" name="mpu6050_node">
        <!-- TODO: set IMU config -->
        <param name="frequency" type="int"  value="10" />
        <param name="frame_id"  type="str"  value="base_imu" />
        <param name="ax"        type="int"  value="0" />
        <param name="ay"        type="int"  value="0" />
        <param name="az"        type="int"  value="0" />
        <param name="gx"        type="int"  value="0" />
        <param name="gy"        type="int"  value="0" />
        <param name="gz"        type="int"  value="0" />
        <param name="ado"       type="bool" value="false" />
        <param name="debug"     type="bool" value="false" />
    </node>

    <!-- Intel RealSense D455 -->
    <!-- TODO: determine a lot of stuff for camera. Looking at you Étienne. -->

    <!-- Lidar -->
    <node pkg="rplidar_ros" type="rplidarNode" name="rplidar_node" output="screen">
        <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
        <!-- TODO: determine RPLidar version (A1, A2 or A3) -->
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

</launch>