[submodule "contrib/HiveMind"]
	path = contrib/HiveMind
	url = https://github.com/SwarmUS/HiveMind.git
	branch = master
[submodule "contrib/rplidar"]
	path = contrib/rplidar
	url = https://github.com/Slamtec/rplidar_ros
	tag = 1.7.0
[submodule "contrib/roboclaw"]
	path = contrib/roboclaw
	url = https://github.com/SwarmUS/roboclaw
	branch = master
[submodule "contrib/realsense-ros"]
	path = contrib/realsense-ros
	url = https://github.com/LuAPi/realsense-ros.git
[submodule "contrib/HiveConnect"]
	path = contrib/HiveConnect
	url = https://github.com/SwarmUS/HiveConnect
[submodule "contrib/HiveMindBridge"]
	path = contrib/HiveMindBridge
	url = https://github.com/SwarmUS/HiveMindBridge.git
