<?xml version="1.0" ?>
<launch>

    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="model" default="$(find swarmus_ros_description)/urdf/pioneer.urdf.xacro"/>

    <!-- define the robots as args -->
    <arg name="robot_0_name" default="pioneer_0"/>    
    <arg name="robot_1_name" default="pioneer_1"/>
    <arg name="robot_2_name" default="pioneer_2"/>
    <arg name="robot_3_name" default="pioneer_3"/>

    <rosparam param="robot_list" subst_value="True" >[$(arg robot_0_name),$(arg robot_1_name),$(arg robot_2_name),$(arg robot_3_name)]</rosparam>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <include file="$(find swarmus_ros_simulation)/launch/pioneer_spawner.launch">
        <arg name="ns" value="$(arg robot_0_name)"/>
        <arg name="robot_name" value="$(arg robot_0_name)"/>
    </include>

    <include file="$(find swarmus_ros_simulation)/launch/pioneer_spawner.launch">
        <arg name="ns" value="$(arg robot_1_name)"/>
        <arg name="robot_name" value="$(arg robot_1_name)"/>
        <arg name="robot_pos_x" value="1.0"/>
        <arg name="yaw" value="1.54"/>
    </include>

    <include file="$(find swarmus_ros_simulation)/launch/pioneer_spawner.launch">
        <arg name="ns" value="$(arg robot_2_name)"/>
        <arg name="robot_name" value="$(arg robot_2_name)"/>
        <arg name="robot_pos_x" value="2.0"/>
    </include>

    <include file="$(find swarmus_ros_simulation)/launch/pioneer_spawner.launch">
        <arg name="ns" value="$(arg robot_3_name)"/>
        <arg name="robot_name" value="$(arg robot_3_name)"/>
        <arg name="robot_pos_x" value="7.5"/>
        <arg name="robot_pos_y" value="7.5"/>
        <arg name="yaw" value="3.927"/>
    </include>

    <node pkg="swarmus_ros_simulation" type="tf_publisher" name="tf_publisher"/>    

    <node pkg="swarmus_ros_simulation" type="communicationBroker" name="communicationBroker" output="screen"/>

</launch>
