<?xml version="1.0" ?>
<launch>
    <arg name="ns" />
    <arg name="model" default="$(find swarmus_ros_description)/urdf/pioneer.urdf.xacro"/>
    <arg name="robot_name" default="pioneer"/>
    <arg name="robot_pos_x" default="0.0"/>
    <arg name="robot_pos_y" default="0.0"/>
    <arg name="robot_pos_z" default="1.0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

    <group ns="$(arg ns)">
        <param name="robot_description" command="$(find xacro)/xacro $(arg model) prefix:=$(arg robot_name)" />
        
        <!-- push robot_description to factory and spawn robot in gazebo -->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-x $(arg robot_pos_x) -y $(arg robot_pos_y) -z $(arg robot_pos_z) 
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
                -unpause -urdf -model $(arg robot_name) -param robot_description" respawn="false" output="screen" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0" />
            <remap from="/joint_states" to="/p_swarmus/joint_states"/>
        </node>

        <node pkg="swarmus_ros_simulation" type="interLocalization" name="interLocalization" output="screen">
            <param name="robot_name" type="string" value="$(arg robot_name)" />
        </node>

        <node pkg="swarmus_ros_simulation" type="interCommunication" name="interCommunication" output="screen">
            <param name="robot_name" type="string" value="$(arg robot_name)" />
        </node>

        <node pkg="rosbuzz" type="rosbuzz_node" name="rosbuzz_node" output="screen">
            <param name="robot_name" type="string" value="$(arg robot_name)" />
            <param name="BzzFileName" value="$(find rosbuzz)/buzz_scripts/HelloBuzz.bzz"/>
        </node>
    </group>
</launch>