<?xml version="1.0"?>
<!-- Generic launch file for a rosbuzz node  -->
<!-- Template to be used for further more complexed setups  -->


<launch>
  <!-- Name of the robot. Will change when tested in other use cases -->
  <arg name="name" default="robot0"/>
  <!-- Buzz script to launch in BVM-->
  <arg name="script" default="HelloBuzz"/>
  
  <!-- Simple node -->
  <node name="rosbuzz_node" pkg="rosbuzz" type="rosbuzz_node" respawn="false" output="screen" >
    <param name="BzzFileName" value="$(find rosbuzz)/buzz_scripts/$(arg script).bzz" />
    <param name="name" value="$(arg name)"/>
  </node>

</launch>
