# /etc/systemd/system/swarmus-pioneer1.service

[Unit]
Description=Launch the required ros nodes for the SwarmUS project on the Pioneer with the purple camera support
After=NetworkManager.service time-sync.target

[Service]
Type=simple
User=swarmus
Restart=on-failure
KillMode=process

WorkingDirectory=/home/swarmus
ExecStart=/bin/bash -c ". .bashrc && roslaunch swarmus_pioneer full_pioneer_1_swarm_bringup.launch"

[Install]
WantedBy=multi-user.target