<?xml version="1.0" ?>
<!-- This launch nodes that need to be started exactly once per simulation. These include:
    - The Gazebo runtime
    - The communication broker
-->
<launch>
    <arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>
    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <!-- Publish the odometry tf from Gazebo-->
    <node pkg="swarmus_ros_simulation" type="tf_publisher" name="tf_publisher">
        <param name="tf_publish_rate" value="500"/>
    </node>

    <!--Launch all the necessary nodes to manage the interaction between the simulated SwarmUS boards-->
    <include file="$(find swarmus_emulation)/launch/swarmus_simulation_services.launch"/>
</launch>