<?xml version="1.0" ?>
<!-- This launch files spawns an HiveMind to use with a cellphone to use for connection -->
<launch>
    <!-- Generic parameters -->
    <arg name="agent_id"   default="1"/>

    <!-- HiveMind Node Parameters -->
    <arg name="hivemind_board_uuid" default="$(arg agent_id)"/>

    <!-- This is the port to use to connect to cellphone, emulated or not -->
    <arg name="hivemind_host_port" default="$(eval 7000 + arg('agent_id'))"/>
    <arg name="hivemind_remote_port_mock" default="$(eval 8000 + arg('agent_id'))" />

    <!-- HiveConnect Node Parameters -->
    <arg name="hive_connect_spi_mock_port" default="$(eval 8000 + arg('agent_id'))"/>
    <arg name="hive_connect_listen_port" default="$(eval 9000 + arg('agent_id'))"/>

    <group ns="agent_$(arg agent_id)">
        <!-- HiveMind -->
        <node pkg="hive_mind" type="hive_mind"  name="hive_mind" output="screen" >
            <param name="board_uuid" value="$(arg hivemind_board_uuid)" />

            <param name="host_tcp_address" value="127.0.0.1" />
            <!-- In order to be able to use this port, you will need to redirect some ports inside the emulator.
                 See HiveAR readme.md for details on how to do this -->
            <param name="host_tcp_port" type="int" value="6901" />

            <!-- Set port to 0 to disable server -->
            <param name="uart_mock_port" value="0" />

            <!-- Set port to 0 to disable server -->
            <param name="remote_mock_port" type="int" value="$(arg hivemind_remote_port_mock)" />

            <param name="log_level" value="Debug" />
        </node>

        <!-- HiveConnect -->
        <node pkg="hive_connect" type="hive_connect" name="hive_connect" output="screen" >

            <!-- BSP settings -->
            <param name="spi_mock_address" value="127.0.0.1" />
            <param name="spi_mock_port" type="int" value="$(arg hive_connect_spi_mock_port)" />

            <!-- Network settings -->
            <param name="tcp_listen_port" type="int" value="$(arg hive_connect_listen_port)"/>
        </node>
    </group>
</launch>


