<?xml version="1.0" ?>
<!-- This launch files spawns a swarm of 5 fully functional robots -->

<launch>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulation_services.launch">
        <arg name="world_name" value="$(find swarmus_ros_simulation)/worlds/obstacles.world"/>
    </include>

    <!-- Agent 1 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   value="1"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_1"/>
        <arg name="robot_name" value="agent_1"/>
        <arg name="robot_pos_x" value="0"/>
        <arg name="robot_pos_y" value="0"/>
    </include>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find swarmus_ros_navigation)/rviz/agent_1_config.rviz"/>

    <!-- Agent 5: Used by android cellphone -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_cellphone_hiveboard_assembly.launch">
        <arg name="agent_id"   value="5"/>
        <!-- This address is the loopback address when running with emulator and the android device address otherwise -->
        <arg name="hivemind_host_address" value="192.168.0.56" />
        <!-- This port is either the one set on the device or the port that has been configured to forward traffic
            to the emulator. See HiveAR readme.md to see how to do this -->
        <arg name="hivemind_host_port" value="7005"/>
    </include>
</launch>