<?xml version="1.0" ?>
<!-- This launch files spawns a swarm of 5 fully functional robots -->

<launch>
    <arg name="interloc_refresh_rate" default="10.0"/> 

    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulation_services.launch"/>

    <!-- Robot 1 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   default="1"/>
        <arg name="interloc_refresh_rate"   default="$(arg interloc_refresh_rate)"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_1"/>
        <arg name="robot_name" value="agent_1"/>
    </include>

    <!-- Robot 2 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   default="2"/>
        <arg name="interloc_refresh_rate"   default="$(arg interloc_refresh_rate)"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_2"/>
        <arg name="robot_name" value="agent_2"/>
        <arg name="robot_pos_x" value="1.0"/>
        <arg name="robot_pos_y" value="1.0"/>
    </include>

    <!-- Robot 3 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   default="3"/>
        <arg name="interloc_refresh_rate"   default="$(arg interloc_refresh_rate)"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_3"/>
        <arg name="robot_name" value="agent_3"/>
        <arg name="robot_pos_x" value="2.0"/>
        <arg name="robot_pos_y" value="2.0"/>
    </include>

    <!-- Robot 4 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   default="4"/>
        <arg name="interloc_refresh_rate"   default="$(arg interloc_refresh_rate)"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_4"/>
        <arg name="robot_name" value="agent_4"/>
        <arg name="robot_pos_x" value="-1.0"/>
        <arg name="robot_pos_y" value="-1.0"/>
    </include>

    <!-- Robot 5 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   default="5"/>
        <arg name="interloc_refresh_rate"   default="$(arg interloc_refresh_rate)"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_5"/>
        <arg name="robot_name" value="agent_5"/>
        <arg name="robot_pos_x" value="-2.0"/>
        <arg name="robot_pos_y" value="-2.0"/>
    </include>


</launch>