<?xml version="1.0" ?>
<!-- This launch files spawns a swarm of 4 fully functional Pioneers 2Dx agents -->
<launch>
    <arg name="interloc_refresh_rate" default="10.0"/> 

    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulation_services.launch"/>

    <!-- Robot 1 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   value="1"/>
    </include>

    <!-- Robot 2 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   value="2"/>
        <arg name="robot_pos_x" value="1.0"/>
        <arg name="robot_pos_y" value="1.0"/>
    </include>

    <!-- Robot 3 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   default="3"/>
        <arg name="robot_pos_x" value="0"/>
        <arg name="robot_pos_y" value="1.0"/>
    </include>

    <!-- Robot 4 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   default="4"/>
        <arg name="robot_pos_x" value="1.0"/>
        <arg name="robot_pos_y" value="0.0"/>
    </include>

</launch>
