<?xml version="1.0" ?>
<launch>
    <arg name="robot_name" default="pioneer_0"/>

    <include file="$(find swarmus_ros_navigation)/launch/navigation.launch"/>
    <include file="$(find swarmus_ros_simulation)/launch/slam_simulation.launch"/>

    <!-- Robot 1 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   default="1"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_1"/>
        <arg name="robot_name" value="agent_1"/>
    </include>

</launch>