<?xml version="1.0" ?>
<!-- This launch files starts a Gazebo world and include a single opperationnal Pioneer robot running  Rtab-Map. These include:
    - Gazebo
    - RTAB-Map
    - rtabmpaviz 
    - Pioneer spawner that includes a nav stack, the robot model and the simulated sensors published from Gazebo
-->
<launch>
    <!-- Arguments-->
    <arg name="robot_name" default="agent_1"/>

    <!-- Launch a Gazebo world with walls and stuff -->
    <include file="$(find gazebo_ros)/launch/willowgarage_world.launch"/>

    <!-- Spawn pioneer in world -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="$(arg robot_name)"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="use_slam" value="true"/>
        <arg name="use_map_in_nav_stack" value="true"/>
    </include>

    <!--Launch RVIZ-->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find swarmus_ros_navigation)/rviz/agent_1_config_rtabmap.rviz"/>
</launch>
