<?xml version="1.0" ?>
<!-- This file starts a simulated Pioneer that maps its surrounding and start a simulated HiveMind.
-->
<launch>
    <arg name="agent_id" default="1"/>
    <arg name="robot_name" default="agent_$(arg agent_id)"/>

    <include file="$(find swarmus_ros_simulation)/launch/slam_simulation.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Robot 1 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   default="$(arg agent_id)"/>
    </include>

</launch>