<?xml version="1.0" ?>
<!-- This launch files spawns a swarm of 4 fully functional Pioneers 2Dx agents
and an agent which you can connect to with HiveAR-->

<launch>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulation_services.launch"/>
    
    <!-- Robot 1 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   value="1"/>
    </include>

    <!-- Robot 2 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   value="2"/>
        <arg name="robot_pos_x" value="1.0"/>
        <arg name="robot_pos_y" value="1.0"/>
    </include>

    <!-- Robot 3 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   default="3"/>
        <arg name="robot_pos_x" value="0"/>
        <arg name="robot_pos_y" value="1.0"/>
    </include>

    <!-- Robot 4 -->
    <include file="$(find pioneer_2dx_swarmus_sim)/launch/pioneer_swarmus_spawner.launch">
        <arg name="agent_id"   default="4"/>
        <arg name="robot_pos_x" value="1.0"/>
        <arg name="robot_pos_y" value="0.0"/>
    </include>

    <!-- Agent 5: Used by android cellphone -->
    <include file="$(find swarmus_emulation)/launch/simulated_cellphone_hiveboard_assembly.launch">
        <arg name="agent_id"   value="5"/>
        <!-- This address is the loopback address when running with emulator and the android device address otherwise -->
        <arg name="hivemind_host_address" value="127.0.0.1" />
        <!-- This port is either the one set on the device or the port that has been configured to forward traffic
            to the emulator. See HiveAR readme.md to see how to do this -->
        <arg name="hivemind_host_port" value="7005"/>
    </include>
</launch>
