<?xml version="1.0" ?>
<!-- This launch files spawns a swarm of 4 fully functional Pioneers 2Dx agents
and an agent which you can connect to with HiveAR-->

<launch>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulation_services.launch"/>
    <!-- Agent 1 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch">
        <arg name="agent_id"   value="1"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_1"/>
        <arg name="robot_name" value="agent_1"/>
        <arg name="robot_pos_x" value="1.0"/>
        <arg name="robot_pos_y" value="0"/>
    </include>

    <!-- Agent 2 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch" launch-prefix="bash -c 'sleep 5.0; $0 $@' " >
        <arg name="agent_id"   value="2"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_2"/>
        <arg name="robot_name" value="agent_2"/>
        <arg name="robot_pos_x" value="-1"/>
        <arg name="robot_pos_y" value="1"/>
    </include>

    <!-- Agent 3 -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_agent.launch" launch-prefix="bash -c 'sleep 5.0; $0 $@' " >
        <arg name="agent_id"   value="3"/>
    </include>
    <include file="$(find swarmus_ros_simulation)/launch/reusable/pioneer_spawner.launch">
        <arg name="ns" value="agent_3"/>
        <arg name="robot_name" value="agent_3"/>
        <arg name="robot_pos_x" value="2"/>
        <arg name="robot_pos_y" value="2"/>
    </include>

    <!-- Agent 7: Used by android cellphone -->
    <include file="$(find swarmus_ros_simulation)/launch/reusable/simulated_cellphone_hiveboard_assembly.launch">
        <arg name="agent_id"   value="4"/>
        <!-- This address is the loopback address when running with emulator and the android device address otherwise -->
        <arg name="hivemind_host_address" value="127.0.0.1" />
        <!-- This port is either the one set on the device or the port that has been configured to forward traffic
            to the emulator. See HiveAR readme.md to see how to do this -->
        <arg name="hivemind_host_port" value="7004"/>
    </include>
</launch>
