<?xml version="1.0" ?>
<launch>

    <include file="$(find swarmus_ros_simulation)/launch/multirobot_empty.launch"/>
    <include file="$(find swarmus_ros_navigation)/launch/navigation.launch"/>


    <node pkg="hiveboard_bridge" type="hiveboard_bridge" name="hiveboard_bridge" output="screen">
        <param name="TCP_SERVER_PORT" type="int" value="8080"/>
        <param name="ROBOT_NAME" type="str" value="pioneer_0"/>
    </node>

    <node name="hive_mind" pkg="hive_mind" type="hive_mind"  output="screen" >
        <param name="board_uuid" value="1" />

        <param name="host_tcp_address" value="127.0.0.1" />
        <param name="host_tcp_port" value="8080" />

        <!-- Set port to 0 to disable server -->
        <param name="uart_mock_port" value="12345" />

        <param name="log_level" value="Debug" />
    </node>

</launch>