<?xml version="1.0" ?>
<launch>
    <arg name="robot_name" default="pioneer_0"/>

    <node pkg="hive_mind_bridge" type="hive_mind_bridge" name="hive_mind_bridge" output="screen">
        <rosparam file="$(find hive_mind_bridge)/config/hive_mind_bridge_params.yaml" command="load"/>
        
        <param name="ROBOT_NAME" type="str" value="$(arg robot_name)"/>
        <param name="moveByTopic" type="str" value="/$(arg robot_name)/navigation/moveBy"/>
    </node>
</launch>