<?xml version="1.0" ?>
<launch>
    <node pkg="hive_mind_bridge" type="QueueAndSendIntegrationTestBridgeMain" name="bridge_main" output="screen">
        <param name="TCP_SERVER_PORT" type="int" value="8080"/>
        <param name="ROBOT_NAME" type="str" value="pioneer_0"/>
    </node>

    <node pkg="hive_mind_bridge" type="QueueAndSendIntegrationTest" name="hive_mind_bridge_queue_and_send_integration_test" output="screen"/>

</launch>